body {
    background-color: #487346;
    color: #ffffff;
    background-image: linear-gradient(rgb(0, 0, 0,.75), rgba(0, 0, 0, .75)), url("bg.jpg");
    background-size: cover;
    background-position: center;
}